body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    background-image: url('../images/104839659-multipurpose-any-use-plain-dark-blue-background-holiday-and-every-day-hanukkah-and-judaic-holiday-co.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    }
    .header {
        padding: 5px;
        text-align: center;
      }
      .header h1 {
        font-size: 50px;
        color:white;
      }



    .right-box
    {
    position: absolute;
    top: 16%;
    left: 30%;
    box-sizing: border-box;
    padding: 40px;
    width: 500px;
    height: 400px;
    border:none;
    color: white;
    }
    .right-box h1{
        margin-left:25%;
    }

    .right-box p{
        margin-left:25%;
    }

    input[type="text"],
    input[type="password"]
    {
        display: block;
        height: 50px;
        width: 420px;
        border: none;
        outline: none;
        box-sizing: border-box;
        padding: 4px;
        border-bottom: 3px solid rgb(74, 92, 128);
        transition: 0.2 ease;
        font-size: 25px;
    }
    button[type="submit"]
    {
        margin-bottom: 5px;
        margin-left: 13%;
        width: 320px;
        height: 32px;
        border: none;
        border-radius: 3px;
        background:#32508e;
        color: beige;
        transition: 0.2s ease;
        cursor: pointer;
    }

    button[type="submit"] a
    {
        color:white;
        font-size: 14px;
        text-decoration: none;

    }


    input[type="submit"]:hover
    {
        background: #777;
        transition: 0.2s ease;
    }

    @media screen and (max-width: 1000px) {
    .right-box
    {
    position: absolute;
    top: 16%;
    left: 15%;
    box-sizing: border-box;
    padding: 40px;
    width: 500px;
    height: 650px;
    border:none;
    color: white;
    }
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-image: url('../images/104839659-multipurpose-any-use-plain-dark-blue-background-holiday-and-every-day-hanukkah-and-judaic-holiday-co.jpg');
        background-repeat:repeat;
        background-size: cover;
        }
}